body {
    font-family: 'Poppins' !important; 
    font-size: 16px !important;  
}
.main{
    margin-left: 5.2%;
    margin-right: 5.2%;
}

.nav-link{
    color:white !important;
    font-size:  13px!important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.bell-dot {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
  }

  .button{
    background:transparent;
    border:1px solid white;
    color:white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 1rem;
  }
  
  .topbar{
    background: transparent linear-gradient(270deg, #2FB099 0%, #3FD0B6 47%, #34BEA5 100%) 0% 0% no-repeat padding-box;
  }

  .content2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
#ul_top_hypers li{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .content2{
     display: none;
   }
   
}
@media only screen and (min-width: 992px) {
  .of{
    display: none;
margin-top:100px;
  }
 
}


/* Search */
.search-wrapper{
    justify-content: center;
    display: flex;
}
.search-box{
    margin-top: 57px;
    width: 75%;
    height: 3.5vmax;
    background: #3BC9B0 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    padding: 0.7vmax 0.7vmax;
    display: table;
}
.search-input{
    width: 90%;
    background-color: transparent;
    border:none;
    padding-left: 20px;
    color:white;
    font-size: 2vmin;
    display: table-cell;
vertical-align: middle;
}
::placeholder { 
    color: white;
    opacity: 0.7; 
  }
  input:focus{
    outline: none;
}

/* category */
.category{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  overflow-x: auto;
}

.category::-webkit-scrollbar {
  height: 0.7vmax;
  width: 10px;
}

/* Track */
.category::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
.category::-webkit-scrollbar-thumb {
  background: #3BC9B0; 
  border-radius: 10px;
}

/* Handle on hover */
.category::-webkit-scrollbar-thumb:hover {
  background: #21947f; 
}
.cetegory-wrapper{
    text-align: center;
    display: table;
}
.category-icon-wrapper{
    width: 100px;
    height: 100px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    margin: 2vmax; 
   
}
.category-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: inline-block;
    
margin-top: 25%;    
}
.category-name{
    width: 8vmax;
    font-size: 15px;
    display: table;
    margin: 0 auto;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}




/* profile card */
.profile-card {
    margin-top: 50px;
}

.p-card-header {
     height: 0px; 
    display: flex;
    justify-content: center;
  }
  
  .p-card-img {
    align-self: flex-end;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    transform: translateY(50%); /* additional 50% of own height */
  }
  .p-card-body{
      /* height: 300px; */
      margin-bottom: 100px;
      border-radius: 20px;
      box-shadow: 0px 3px 6px #00000029;
  }
  .left-rating{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right-rating{
    text-align: center;
  }

  .p-card-icons {
    position: absolute;
    bottom: 0;
    /* right: 0; */
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
  }
  .center { 
    justify-content: center; 
  }  

  .flex-item {
    text-align: center;
  }

  .p-card-text{
    text-align: center;
    font-size: 14px;
    color:#92929D;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .line-clamp{
    background-color: #fff;
    padding: 2em;
  }
  .line-clamp p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .p-card-gallery{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-bottom:20px;
}
.gallery-item{
  padding-left:7px;
  margin-top:7px;
}
.p-card-button{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* No Varben */
.no-varben-textarea{
  height: 7vw;
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 6000px;
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  display: table;
  position:relative;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 1.3vmax;
  margin: 0 auto;
  width: 60vmax;
}
.no-varben-text{
  text-align: center;
  color: white;
  vertical-align: middle;
  display: table-cell;
  padding-left: 6vw;
  padding-right: 5vw;
}
.varben-icon{
  position: absolute;
  left:-5vmax;
  top:-4vmax;
  width: 9vw;
}
@media only screen and (max-width: 600px) {
  .no-varben-textarea{
    height: 8vw;
    background: #3AC6AD 0% 0% no-repeat padding-box;
    border-radius: 6000px;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
    display: table;
    position:relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 1.3vmax;
    width: 40vmax;
  
  }
  .no-varben-text{
    text-align: center;
    color: white;
    vertical-align: middle;
    display: table-cell;
    padding-left: 6vw;
    padding-right: 5vw;
  }
  .varben-icon{
    position: absolute;
    left:-4vmax;
    top: -3vmax;
    width: 14vw;
  }
 
}

/* Footer */
@media only screen and (min-width: 992px) {
.footer{
  padding-right: var(--bs-gutter-x, 15rem);
  padding-left: var(--bs-gutter-x, 15rem);
  margin-right: auto;
  margin-left: auto;
}
}

@media only screen and (max-width: 992px) {
  .footer{
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
  }
 
}

.varben-text{
  color:#3AC6AD;
  font-size: 24px;
  font-weight: bold;
 
}
.vertical-center{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.varben-text-wrapper{
  display: table;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list-item{
  color:#7D7D7D;
  font-size: 14px;
  line-height: 28px;
}



.se{
width: 100px;
height: 40px;
/* UI Properties */
background: #3AC6AD 0% 0% no-repeat padding-box;
border-radius: 0px 20px 20px 0px;
opacity: 1;
}

.search-footer-input{
  width: 90%;
  background-color: transparent;
  border:none;
  padding-left: 20px;
  color:white;
  font-size: 2vmin;
}
.search-footer-box::placeholder { 
  color: #7D7D7D;
  opacity: 0.7; 
 
}
input.search-footer-box:focus{
  outline: none;
 

}
.search-footer-container {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D9E6EC;
  border-radius: 20px;
  opacity: 1;
}
.search-footer-box {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
  padding-left: 15px;
}
.search-footer-button {
  position: absolute;
  right: 0;
  top: 0;
  border:none;
  outline: 0;
  width: 25%;
  height: 35px;
  /* UI Properties */
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 0px 20px 20px 0px;
  opacity: 1;
  color:white;
}

.eom-offcanvas .eom-hamburger-wrap{
margin-top: 25px !important;
}