body {
    font-family: 'Poppins' !important; 
    font-size: 16px !important;  
    overflow-x: hidden;
}
.main{
    margin-left: 5.2%;
    margin-right: 5.2%;
}

.nav-link{
    color:white !important;
    font-size:  13px!important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.bell-dot {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
  }

  .button{
    background:transparent;
    border:1px solid white;
    color:white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 1rem;
  }
  
  .topbar{
    background: transparent linear-gradient(270deg, #2FB099 0%, #3FD0B6 47%, #34BEA5 100%) 0% 0% no-repeat padding-box;
  }

  .content2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
#ul_top_hypers li{
    display: inline;
}


@media only screen and (min-width: 992px) {
  .of{
    display: none;
margin-top:100px;
  }
 
}


/* Search */
.search-wrapper{
    justify-content: center;
    display: flex;
}
.search-box{
    margin-top: 57px;
    width: 75%;
    height: 3.5vmax;
    /* background: #3BC9B0 0% 0% no-repeat padding-box; */
    border: 1px solid #3BC9B0;
    border-radius: 35px;
    opacity: 1;
    padding: 0.7vmax 0.7vmax;
    display: table;
}
.search-input{
    width: 90%;
    background-color: transparent;
    border:none;
    padding-left: 20px;
    color:#3BC9B0;
    font-size: 2vmin;
    display: table-cell;
vertical-align: middle;
}
::placeholder { 
    color: #3BC9B0;
    opacity: 0.7; 
  }
  input:focus{
    outline: none;
}

/* category */
.category{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  overflow-x: auto;
}

.category::-webkit-scrollbar {
  height: 0.7vmax;
  width: 10px;
}

/* Track */
.category::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
.category::-webkit-scrollbar-thumb {
  background: #3BC9B0; 
  border-radius: 10px;
}

/* Handle on hover */
.category::-webkit-scrollbar-thumb:hover {
  background: #21947f; 
}
.cetegory-wrapper{
    text-align: center;
    display: table;
}
.category-icon-wrapper{
    width: 100px;
    height: 80px;
    /* background: #EBEBEB 0% 0% no-repeat padding-box; */
    border-radius: 13px;
    opacity: 1;
    margin: 2vmax; 
    display: flex;
}
.category-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: inline-block;
/* margin-top: 25%;     */
margin: auto;
text-align: center;
}
.category-name{
    width: 8vmax;
    font-size: 15px;
    display: table;
    margin: 0 auto;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}




/* profile card */
.profile-card {
    margin-top: 50px;
}

.p-card-header {
     height: 0px; 
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .p-card-img {
    align-self: flex-end;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    transform: translateY(50%); /* additional 50% of own height */
  }
  .p-card-body{
      /* height: 300px; */
      margin-bottom: 100px;
      border-radius: 20px;
      box-shadow: 0 0px 20px #00000017
  }
  .left-rating{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right-rating{
    text-align: center;
  }
  .middle-rating{
    text-align: center;
    color: #f5d757;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: 'Cevaplama Hızı';
    background-color: #3AC6AD ;
    color: #f5d757;
    font-size: 100%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid transparent;
    z-index: 99999;
    visibility: hidden;
    border-radius: 25px;
}

  .p-card-icons {
    position: absolute;
    bottom: 0;
    /* right: 0; */
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
  }
  .center { 
    justify-content: center; 
  }  
  .space-between { 
    justify-content: space-between; 
  }  

  .flex-item {
    text-align: center;
  }

  .p-card-text{
    text-align: center;
    font-size: 14px;
    color:#92929D;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .line-clamp{
    background-color: #fff;
    padding: 2em;
  }
  .line-clamp p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .p-card-gallery{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-bottom:20px;
}
.gallery-item{
  padding-left:7px;
  margin-top:7px;
}
.p-card-button{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* No Varben */
.no-varben-textarea{
  height: 7vw;
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 6000px;
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  display: table;
  position:relative;
  font-size: 1.3vmax;
  margin: 0 auto;
  width: 60vmax;
  margin-bottom:6rem;
  margin-top:5rem;

}
.no-varben-text{
  text-align: center;
  color: white;
  vertical-align: middle;
  display: table-cell;
  padding-left: 6vw;
  padding-right: 5vw;
}
.varben-icon{
  position: absolute;
  left:-5vmax;
  top:-4vmax;
  width: 9vw;
}


/* Footer */
@media only screen and (min-width: 992px) {
.footer{
  padding-right: var(--bs-gutter-x, 15rem);
  padding-left: var(--bs-gutter-x, 15rem);
  margin-right: auto;
  margin-left: auto;
}
}

@media only screen and (max-width: 992px) {
  .footer{
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
  }
 
}

.varben-text{
  color:#3AC6AD;
  font-size: 24px;
  font-weight: bold;
 
}
.vertical-center{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.varben-text-wrapper{
  display: table;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list-item{
  color:#7D7D7D;
  font-size: 14px;
  line-height: 28px;
}



.se{
width: 100px;
height: 40px;
/* UI Properties */
background: #3AC6AD 0% 0% no-repeat padding-box;
border-radius: 0px 20px 20px 0px;
opacity: 1;
}

.search-footer-input{
  width: 90%;
  background-color: transparent;
  border:none;
  padding-left: 20px;
  color:white;
  font-size: 2vmin;
}
.search-footer-box::placeholder { 
  color: #7D7D7D;
  opacity: 0.7; 
 
}
input.search-footer-box:focus{
  outline: none;
 

}
.search-footer-container {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D9E6EC;
  border-radius: 20px;
  opacity: 1;
}
.search-footer-box {
  background-color: transparent;
  outline: none;
  height: 45px;
  font-size: 15px;
  border: 0;
  width: 100%;
  padding-left: 15px;
}
.search-footer-button {
  position: absolute;
  right: 0;
  top: 0;
  border:none;
  outline: 0;
  width: 25%;
  height: 45px;
  /* UI Properties */
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 0px 20px 20px 0px;
  opacity: 1;
  color:white;
}

.eom-offcanvas .eom-hamburger-wrap{
margin-top: 25px !important;


}
.eom-offcanvas .eom-hamburger-wrap .eom-hamburger:hover span{
    border-top: 3px solid black;
}
.active .eom-hamburger-wrap{
  background-color: black;
  border: 3px solid black;

}

.active .eom-hamburger-wrap .eom-hamburger:hover span{
  border-color:  #3AC6AD;

 }
.active .eom-hamburger-wrap .eom-hamburger span{
  border-color:  #3AC6AD;
  
 }
.active .eom-hamburger-wrap:hover {
  border-color:  #3AC6AD !important;
 }
.active .eom-hamburger-wrap {
  border-color:  #3AC6AD !important;
 }
.eom-offcanvas .eom-hamburger-wrap {
  border-color:  black !important;
 }
.active {
  box-shadow:350px 0px 0px 100px rgba(0,0,0,0.23)
 }

 /* Landing Search */
 .varmı-logo{
  margin-left: 3vmax;
  width: 10vmax;
 }
 .sign-button{
  background-color: #3AC6AD !important; 
  border: none !important;
  margin-right: 3vmax !important;
  padding: 5px 30px !important;
 }
 .search-wrapper-landing{
   margin-top: 27vmax;
   justify-content: center;
   display: flex;
 }
 .landing-search{
  width: 65%;
  /* height: 8vmax; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #62D6C4;
  border-radius: 35px;
  opacity: 1;
  padding: 0.7vmax 0.7vmax;
  display: table;
 }
 .landing-search-input{
   width: 90%;
   height: 100%;  
   display: flex; 
   display: table-cell;
   vertical-align: middle;
   background-color: transparent;
  border:none;
  padding-left: 20px;
  font-size: 2vw;
  color: #3BC9B0;
 }
.landing-search-input::placeholder { 
  color: #3BC9B0;
  opacity: 0.7; 
  font-size: 2vw;
}
input:focus{
  outline: none;
}
.oval-bg{
  margin-top:-50vmax;
  margin-left:-50vmax;
  z-index:-999;
  position: absolute;
  width: 90vmax;
}
.elipse-bg{
  z-index:-999;
  position: absolute;
  width: 60vmax;
}

/* Landing Card */
.green-card{
  background-color: #33bea4;
  z-index: -55;
  position: relative;
  margin-top: -5vmax; 
  border-radius: 0 0 50% / 15% 0;
  padding-bottom: 10vmax;
}
.yellow-mask{
  z-index: -10;
  position: absolute;
  width: 20vmax;
  height: 5vmax;
  float: right;
  margin-left: 80vmax;
}
.landing-card{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 52px 54px #00000029;
margin-left:20px;
border-radius: 10px;
padding: 30px 0px 50px 10px;
margin-bottom:20px;
}
.card-phone-img{
  width: 27vmax;
  margin-right: 3vmax;
  margin-top: 3vmax;
}
.card-sub-text{
  margin-top: 4vmax ;
  width: 40vmax;
  line-height: 2.2vmax;
  font-size: 1vmax;
}
.watch-text{
  margin-top: 2vmax; 
  color: #33bea4;
  font-size: 0.7vmax;
}
.payment-svg{
  width: 50vmax;
  height: 40vmax;
}
.payment-steps{
  margin-top:15vmax;
  width: 500px;
  height: 50vmax;
  margin-left: 25%;
}
.landing-text{
  margin-left: 10vmax;
  margin-top: 4vmax;
}

@media only screen and (max-width: 992px) {
 
  .card-sub-text{
    margin-top: 4vmax ;
    line-height: 2.2vmax;
    font-size: 0.8vmax;
  }
  .watch-text{
    margin-top: 2vmax; 
    color: #33bea4;
    font-size: 0.8vmax;
    margin-bottom: 6vmax;
  }
 
 
}


/* Why Varmı? */

.why-varmı{
  background-color: #EAF7F6;
  border-radius: 80% / 20% 0 0  0;
  padding-top: 50px;
}
.why-varmı-card{
height: 120px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EAE9F2;
border-radius: 80px 10px 10px 80px;
opacity: 1;
display:flex;
margin-top:20px;
padding-right:10px;
}

.why-varmı-img{
  width:118px;
  -webkit-box-shadow: 0px 0px 7px 5px rgba(246,218,6,0.2); 
box-shadow: 0px 0px 7px 5px rgba(246,218,6,0.2); ;
border-radius: 50%;
}
.why-header{
  text-shadow:  0 0 0.15em rgb(121, 177, 174);
}
.why-varmı-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

}
.why-text{
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Users */

.users-card{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EAE9F2;
border-radius: 10px;
margin-top: 5px;
height: 15vmax;
}
.comment{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.line-clamp-comment{
  display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}
.why-phone{
  width: 35vmax;
}

/* Landing Footer */

.landing-footer{
  background-color:#33bea4 ;
  border-radius: 0 65% / 0px 7% 0 0;
  margin-top: 25px;
}

.landing-footer-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 52px 54px #00000029;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  margin-bottom:20px;
}

.varbe-img-footer{
  width: 5vmax;
  position: absolute;
  margin-top: -3vmax;
  margin-left: 2.5vmax;
  -webkit-filter: drop-shadow(10px 10px 10px #22222237);
  filter: drop-shadow(10px 10px 10px #22222251)
}
.varbe-img-footer2{
  width: 9vmax;
  position: absolute;
  margin-top: -3vmax;
  -webkit-filter: drop-shadow(10px 10px 10px #22222237);
  filter: drop-shadow(10px 10px 10px #22222251)
}

.circler { 
  width: 5vmax;
  height: 5vmax;
  position: absolute;
  background: rgb(246, 209, 88);
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  margin-left: 2vmax;
  margin-top: -1vmax;
}

@media only screen and (max-width: 600px) {
  .content2{
    display: none;
  }
  .no-varben-textarea{
    height: 8vw;
    background: #3AC6AD 0% 0% no-repeat padding-box;
    border-radius: 6000px;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
    display: table;
    position:relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 1.3vmax;
    width: 40vmax;
  
  }
  .no-varben-text{
    text-align: center;
    color: white;
    vertical-align: middle;
    display: table-cell;
    padding-left: 6vw;
    padding-right: 5vw;
  }
  .varben-icon{
    position: absolute;
    left:-4vmax;
    top: -3vmax;
    width: 14vw;
  }
  .oval-bg{
    margin-top:-60vmax;
    margin-left:-60vmax;
    z-index:-999;
    position: absolute;
    width: 90vmax;
  }
  .elipse-bg{
    z-index:-999;
    position: absolute;
    width: 50vmax;
  }
  .varmı-logo{
    margin-left: 1vmax;
    width: 7vmax;
    height: 3vmax;
   }
   .sign-button{
    background-color: #3AC6AD !important; 
    border: none !important;
    margin-right: 1vmax !important;
    padding: 3px 15px !important;
    font-size: 12px !important;
   }
   .landing-search{
    width: 68%;
    height: 5vmax;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #62D6C4;
    border-radius: 10px;
    opacity: 1;
    padding: 0.7vmax 0.7vmax;
    display: table;
   }
   .landing-search-input{
     width: 90%;
     height: 100%;  
     display: flex; 
     display: table-cell;
     vertical-align: middle;
     background-color: transparent;
    border:none;
    padding-left: 20px;
    font-size: 2vw;
    color: #3BC9B0;
   }
  .landing-search-input::placeholder { 
    color: #3BC9B0;
    opacity: 0.7; 
    font-size: 2vw;
  }
  input:focus{
    outline: none;
  }
  .search-wrapper{
    margin-top: 18vmax;
    justify-content: center;
    display: flex;
  }
  .green-card{
    background-color: #33bea4;
    z-index: -55;
    position: absolute;
    margin-top: -5vmax; 
    border-radius: 0 0 50% / 3% 0;
    padding-bottom: 10vmax;
  }
  .yellow-mask{
    z-index: -10;
    position: absolute;
    width: 20vmax;
    height: 5vmax;
    float: right;
    margin-left: 30vmax;
  }
  .payment-svg{
    width: 47vmax;
    height: 40vmax;
  }
  .payment-steps{
    margin-top:270vmax;
    width: 500px;
    height: 50vmax;
    margin-left: 5%;
  }
  .green-card-text{
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-outline-light{
    margin-left: 35%;
  }
  .card-sub-text{
    margin-top: 4vmax ;
    line-height: 2.2vmax;
    font-size: 0.8vmax;
  }
  .landing-text{
    margin-left: 5vmax;
    margin-right: 5vmax;
    margin-top: 4vmax;
  }
  .why-varmı{
    background-color: #EAF7F6;
    border-radius: 80% / 10% 0 0  0;
    padding-top: 50px;
  }
  .why-phone{
    width: 45vmax;
  }
  .why-varmı-header{
    padding-left: 60px;
  }
  .why-varmı-card{
    margin-left: 40px;
  }
  .why-varmı-img{
    width: 50px;
    margin-left: 5px;
  }
  .why-varmı-text{
    font-size: 13px;
  }
  .why-sub-text{
    text-align: center;
  }
  .landing-footer{
  background-color:#33bea4 ;
  border-radius: 0 50% / 0px 2% 0 0;
  margin-top: 25px;
}
.users-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  margin-top: 10px;
  height: 30vmax;
  margin-left:15px;
  margin-right: 15px;
  }
}
.why-sub-text{
  margin-left: 50px;
}
.margining{
  margin-top: -15vmax;
}
.why-phone-vertical{
  width: 20vmax;
}
@media only screen and (min-width: 768px) {
  /* .payment-steps{
    margin-top:121vmax;
    width: 500px;
    height: 50vmax;
    margin-left: 25%;
  } */
}
.varmı-icon{
  float: right;
  width: 25vmax;
  margin-top: inherit;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .varmı-icon{
    float: right;
    width: 25vmax;
    margin-top: -75vmax;
  }
  .why-varmı{
    background-color: #EAF7F6;
    border-radius: 80% / 20% 0 0  0;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  
  .payment-steps{
    margin-top:-50vmax;
    width: 500px;
    height: 50vmax;
    margin-left: 25%;
  }
  .users-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    margin-top: 20px;
    height: 25vmax;
    -left: 2vmax;
    }
    .margining{
      margin-top: 55vmax;
    }
    .card-sub-text{
      font-size: 12px;
    }
    .watch-text{
      font-size: 10px;
    }
    .why-phone-vertical{
      width: 25vmax;
    }
    .footer{
      margin-top: 5vmax;
    }
    .why-phone{
      width: 34vmax;
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1440px) {
.why-varmı{
  background-color: #EAF7F6;
  border-radius: 80% / 20% 0 0  0;
  padding-top: 150px;
  padding-bottom: 50px;
}
.payment-steps{
  margin-top:65vmax;
  width: 500px;
  height: 50vmax;
  margin-left: 25%;
}
.users-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAE9F2;
  border-radius: 10px;
  margin-top: 20px;
  height: 20vmax;
  }
}