body {
    font-family: 'Open Sans' !important; 
    font-size: 16px !important;  
}
.main{
    margin-left: 5.2%;
    margin-right: 5.2%;
}

.nav-link{
    color:white !important;
    font-size:  13px!important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.bell-dot {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
  }

  .button{
    background:transparent;
    border:1px solid white;
    color:white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 1rem;
  }
  
  .topbar{
    background: transparent linear-gradient(270deg, #2FB099 0%, #3FD0B6 47%, #34BEA5 100%) 0% 0% no-repeat padding-box;
  }

  .content2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
#ul_top_hypers li{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .content2{
     display: none;
   }
}

/* Search */
.search-wrapper{
    justify-content: center;
    display: flex;
}
.search-box{
    margin-top: 57px;
    width: 27%;
    height: 3.64%;
    background: #3BC9B0 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    padding: 0.95% 1.05%;
}
.search-input{
    width: 90%;
    background-color: transparent;
    border:none;
    padding-left: 20px;
    color:white;
    font-size: 2vmin;
}
::placeholder { 
    color: white;
    opacity: 0.7; 
  }
  input:focus{
    outline: none;
}

/* category */
.category{
    display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.cetegory-wrapper{
    text-align: center;
    
}
.category-icon-wrapper{
    width: 6vmax;
    height: 6vmax;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    margin: 2vmax; 
    
}
.category-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-top: 1.7vmax;
}
.category-name{
    width: 8vmax;
    margin-left: auto;
    margin-right: auto;
    
}

/* profile card */
.profile-card {
    margin-top: 50px;
}

.p-card-header {
    /* height: 110px; */
    display: flex;
    justify-content: center;
  }
  
  .p-card-img {
    align-self: flex-end;
    border-radius: 50%;
    width: 100px; height: 100px;
    transform: translateY(50%); /* additional 50% of own height */
  }
  .p-card-body{
      /* height: 300px; */
      margin-bottom: 100px;
      border-radius: 20px;
      box-shadow: 0px 3px 6px #00000029;
  }
  .left-rating{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right-rating{
    text-align: center;
  }

  .p-card-icons {
    position: absolute;
    bottom: 0;
    /* right: 0; */
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
  }
  .center { 
    justify-content: center; 
  }  

  .flex-item {
    text-align: center;
  }

  .p-card-text{
    text-align: center;
    font-size: 14px;
    color:#92929D;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .p-card-gallery{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-bottom:20px;
}
.gallery-item{
  padding-left:7px;
  margin-top:7px;
}
.p-card-button{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* No Varben */
.no-varben-textarea{
  height: 8vw;
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 6000px;
  opacity: 1;
  margin-right: auto;
  margin-left: auto;
  display: table;
  position:relative;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 1.3vmax;

}
.no-varben-text{
  text-align: center;
  color: white;
  vertical-align: middle;
  display: table-cell;
  padding-left: 6vw;
  padding-right: 5vw;
}
.varben-icon{
  position: absolute;
  left:-7vmax;
  top:-6vmax;
  width: 11vw;
}

/* Footer */
.footer{
  height: 150px;
  padding-right: var(--bs-gutter-x, 15rem);
  padding-left: var(--bs-gutter-x, 15rem);
  margin-right: auto;
  margin-left: auto;
}
.varben-text{
  color:#3AC6AD;
  font-size: 24px;
  font-weight: bold;
 
}
.vertical-center{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.varben-text-wrapper{
  display: table;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list-item{
  color:#7D7D7D;
  font-size: 14px;
  line-height: 28px;
}



.se{
width: 100px;
height: 40px;
/* UI Properties */
background: #3AC6AD 0% 0% no-repeat padding-box;
border-radius: 0px 20px 20px 0px;
opacity: 1;
}

.search-footer-input{
  width: 90%;
  background-color: transparent;
  border:none;
  padding-left: 20px;
  color:white;
  font-size: 2vmin;
}
.search-footer-box::placeholder { 
  color: #7D7D7D;
  opacity: 0.7; 
 
}
input.search-footer-box:focus{
  outline: none;
 

}
.search-footer-container {
  position: relative;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D9E6EC;
  border-radius: 20px;
  opacity: 1;
}
.search-footer-box {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
  padding-left: 15px;
}
.search-footer-button {
  position: absolute;
  right: 0;
  top: 0;
  border:none;
  outline: 0;
  width: 25%;
  height: 35px;
  /* UI Properties */
  background: #3AC6AD 0% 0% no-repeat padding-box;
  border-radius: 0px 20px 20px 0px;
  opacity: 1;
  color:white;
}